## Set

### it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
### A = {19, 22, 24, 20, 25, 26}
### B = {19, 22, 20, 25, 26, 24, 28, 27}
### age = [22, 19, 24, 25, 26, 24, 25, 24]

## Level 1

In [17]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

## 1. Find the length of the set it_companies

In [18]:
print(len(it_companies))

7

## 2. Add 'Twitter' to it_companies

In [19]:
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'Facebook', 'IBM', 'Google', 'Apple', 'Amazon', 'Twitter', 'Oracle'}

## 3. Insert multiple IT companies at once to the set it_companies

In [26]:
it_companies.update(['Zoho', 'Flipkart', 'Adobe', 'Linkedin', 'Sprout Knowledge Solutions'])
print(it_companies)

{'Oracle', 'Sprout Knowledge Solutions', 'Google', 'Adobe', 'Apple', 'Twitter', 'Zoho', 'Facebook', 'IBM', 'Amazon', 'Sprout Knowldge Solutions', 'Flipkart', 'Microsoft', 'Linkedin'}

## 4. Remove one of the companies from the set it_companies

In [27]:
it_companies.remove('Sprout Knowledge Solutions')
print(it_companies)

{'Oracle', 'Google', 'Adobe', 'Apple', 'Twitter', 'Zoho', 'Facebook', 'IBM', 'Amazon', 'Sprout Knowldge Solutions', 'Flipkart', 'Microsoft', 'Linkedin'}

## Level 2

In [34]:
print("A = ", A)
print("B = ",B)

A =  {19, 20, 22, 24, 25, 26}
B =  {19, 20, 22, 24, 25, 26, 27, 28}

## 1. Join A and B

In [35]:
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

## 2. Find A intersection B

In [36]:
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

## 3. Is A subset of B

In [37]:
print(A.issubset(B))

True

## 4. Are A and B disjoint sets

In [38]:
print(A.isdisjoint(B))

False

## 5. Join A with B and B with A

In [39]:
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

## 6. What is the symmetric difference between A and B

In [40]:
print(A.symmetric_difference(B))

{27, 28}

## 7. Delete the sets completely

In [41]:
del it_companies
del A
del B